In [64]:
import os
import cx_Oracle
import pandas as pd
from pandas import DataFrame as df


ora_id = os.environ['ORACLE_ID']
ora_pw = os.environ['ORACLE_PW']
ora_ip = os.environ['ORACLE_IP']
ora_port = os.environ['ORACLE_PORT']
ora_sid = os.environ['ORACLE_SID']

# (예시) scott/tiger@127.0.0.1:1521/orcl
ora_addr = ora_id+'/' + ora_pw + '@' + ora_ip + ':' + ora_port + '/' + ora_sid

conn = cx_Oracle.connect(ora_addr)

In [65]:

sql = 'select * from SYS.all_source where rownum < 10'

df = pd.read_sql(sql, conn)
# df
# df[['TABLE_NAME', 'OWNER', 'CLUSTER_NAME']]
df[0:4]

,OWNER,NAME,TYPE,LINE,TEXT
0,SYS,AGGXMLIMP,TYPE,1,type AggXMLImp ...
1,SYS,AGGXMLIMP,TYPE,2,authid current_user as object\n
2,SYS,AGGXMLIMP,TYPE,3,(\n
3,SYS,AGGXMLIMP,TYPE,4,"key RAW(8),\n"

In [66]:

sql = 'SELECT * FROM ALL_SOURCE WHERE ROWNUM < 10'

df = pd.read_sql(sql, conn)
df

,OWNER,NAME,TYPE,LINE,TEXT
0,SYS,AGGXMLIMP,TYPE,1,type AggXMLImp ...
1,SYS,AGGXMLIMP,TYPE,2,authid current_user as object\n
2,SYS,AGGXMLIMP,TYPE,3,(\n
3,SYS,AGGXMLIMP,TYPE,4,"key RAW(8),\n"
4,SYS,AGGXMLIMP,TYPE,5,\n
5,SYS,AGGXMLIMP,TYPE,6,static function ODCIAggregateInitialize(sctx...
6,SYS,AGGXMLIMP,TYPE,7,inpo...
7,SYS,AGGXMLIMP,TYPE,8,is language c\n
8,SYS,AGGXMLIMP,TYPE,9,"name ""AggInitialize""\n"

In [68]:

conn.close()