In [3]:
import os
import cx_Oracle
import pandas as pd
from pandas import DataFrame as df


ora_id = os.environ['ORACLE_ID']
ora_pw = os.environ['ORACLE_PW']
ora_ip = os.environ['ORACLE_IP']
ora_port = os.environ['ORACLE_PORT']
ora_sid = os.environ['ORACLE_SID']

# (예시) scott/tiger@127.0.0.1:1521/orcl
ora_addr = ora_id+'/' + ora_pw + '@' + ora_ip + ':' + ora_port + '/' + ora_sid

conn = cx_Oracle.connect(ora_addr)

In [57]:

sql = 'SELECT * FROM ALL_SOURCE WHERE ROWNUM < 100000'

df = pd.read_sql(sql, conn)
# df
# df[['TABLE_NAME', 'OWNER', 'CLUSTER_NAME']]
# print(df[0:4])
df

,OWNER,NAME,TYPE,LINE,TEXT
0,SYS,STANDARD,PACKAGE,1,package STANDARD AUTHID CURRENT_USER is ...
1,SYS,STANDARD,PACKAGE,2,\n
2,SYS,STANDARD,PACKAGE,3,"/********** Types and subtypes, do not reord..."
3,SYS,STANDARD,PACKAGE,4,"type BOOLEAN is (FALSE, TRUE);\n"
4,SYS,STANDARD,PACKAGE,5,\n
5,SYS,STANDARD,PACKAGE,6,type DATE is DATE_BASE;\n
6,SYS,STANDARD,PACKAGE,7,\n
7,SYS,STANDARD,PACKAGE,8,type NUMBER is NUMBER_BASE;\n
8,SYS,STANDARD,PACKAGE,9,subtype FLOAT is NUMBER; -- NUMBER(126)\n
9,SYS,STANDARD,PACKAGE,10,subtype REAL is FLOAT; -- FLOAT(63)\n
10,SYS,STANDARD,PACKAGE,11,"subtype ""DOUBLE PRECISION"" is FLOAT;\n"
11,SYS,STANDARD,PACKAGE,12,"subtype INTEGER is NUMBER(38,0);\n"
12,SYS,STANDARD,PACKAGE,13,subtype INT is INTEGER;\n
13,SYS,STANDARD,PACKAGE,14,"subtype SMALLINT is NUMBER(38,0);\n"
14,SYS,STANDARD,PACKAGE,15,"subtype DECIMAL is NUMBER(38,0);\n"
15,SYS,STANDARD,PACKAGE,16,subtype NUMERIC is DECIMAL;\n
16,SYS,STANDARD,PACKAGE,17,subtype DEC is DECIMAL;\n
17,SYS,STANDARD,PACKAGE,18,\n
18,SYS,STANDARD,PACKAGE,19,\n
19,SYS,STANDARD,PACKAGE,20,subtype BINARY_INTEGER is INTEGER range '-21...
20,SYS,STANDARD,PACKAGE,21,subtype NATURAL is BINARY_INTEGER range 0..2...
21,SYS,STANDARD,PACKAGE,22,subtype NATURALN is NATURAL not null;\n
22,SYS,STANDARD,PACKAGE,23,subtype POSITIVE is BINARY_INTEGER range 1.....
23,SYS,STANDARD,PACKAGE,24,subtype POSITIVEN is POSITIVE not null;\n
24,SYS,STANDARD,PACKAGE,25,subtype SIGNTYPE is BINARY_INTEGER range '-1...
25,SYS,STANDARD,PACKAGE,26,\n
26,SYS,STANDARD,PACKAGE,27,type VARCHAR2 is NEW CHAR_BASE;\n
27,SYS,STANDARD,PACKAGE,28,\n
28,SYS,STANDARD,PACKAGE,29,subtype VARCHAR is VARCHAR2;\n
29,SYS,STANDARD,PACKAGE,30,subtype STRING is VARCHAR2;\n
...,...,...,...,...,...
99969,SYS,DBMS_METADATA_UTIL,PACKAGE,590,-- PARAMS:\n
99970,SYS,DBMS_METADATA_UTIL,PACKAGE,591,-- schema - schema of type\n
99971,SYS,DBMS_METADATA_UTIL,PACKAGE,592,-- type_name - type name\n
99972,SYS,DBMS_METADATA_UTIL,PACKAGE,593,-- version - internal stored verson of...
99973,SYS,DBMS_METADATA_UTIL,PACKAGE,594,-- hashcode - hashcode of the type defn\n
99974,SYS,DBMS_METADATA_UTIL,PACKAGE,595,-- typeid - subtype typeid ('' if no ...
99975,SYS,DBMS_METADATA_UTIL,PACKAGE,596,"-- RETURNS: Nothing, returns if the hashcode a..."
99976,SYS,DBMS_METADATA_UTIL,PACKAGE,597,-- nnn exception if the type does not...
99977,SYS,DBMS_METADATA_UTIL,PACKAGE,598,-- type exists but the hash code and/...
99978,SYS,DBMS_METADATA_UTIL,PACKAGE,599,-- not match.\n
99979,SYS,DBMS_METADATA_UTIL,PACKAGE,600,--\n
99980,SYS,DBMS_METADATA_UTIL,PACKAGE,601,PROCEDURE check_type (schema IN VARCHAR...
99981,SYS,DBMS_METADATA_UTIL,PACKAGE,602,type_name IN VARCHAR...
99982,SYS,DBMS_METADATA_UTIL,PACKAGE,603,version IN VARCHAR...
99983,SYS,DBMS_METADATA_UTIL,PACKAGE,604,hashcode IN VARCHAR...
99984,SYS,DBMS_METADATA_UTIL,PACKAGE,605,\t\t typeid IN VARCHAR2);\n
99985,SYS,DBMS_METADATA_UTIL,PACKAGE,606,\n
99986,SYS,DBMS_METADATA_UTIL,PACKAGE,607,\n
99987,SYS,DBMS_METADATA_UTIL,PACKAGE,608,----------------------------------------------...
99988,SYS,DBMS_METADATA_UTIL,PACKAGE,609,-- WRITE_CLOB : Write a CLOB to the trace file\n
99989,SYS,DBMS_METADATA_UTIL,PACKAGE,610,\n
99990,SYS,DBMS_METADATA_UTIL,PACKAGE,611,PROCEDURE write_clob(xml IN CLOB);\n
99991,SYS,DBMS_METADATA_UTIL,PACKAGE,612,\n
99992,SYS,DBMS_METADATA_UTIL,PACKAGE,613,----------------------------------------------...
99993,SYS,DBMS_METADATA_UTIL,PACKAGE,614,"-- IS_OMF: return 1 if name is an OMF, 0 other..."
99994,SYS,DBMS_METADATA_UTIL,PACKAGE,615,-- PARAMETERS:\n
99995,SYS,DBMS_METADATA_UTIL,PACKAGE,616,-- name - a file name\n
99996,SYS,DBMS_METADATA_UTIL,PACKAGE,617,-- RETURNS: number 0 or 1\n
99997,SYS,DBMS_METADATA_UTIL,PACKAGE,618,\n
99998,SYS,DBMS_METADATA_UTIL,PACKAGE,619,FUNCTION is_omf (\n

In [65]:

sql = 'SELECT * FROM ALL_SOURCE WHERE ROWNUM < 10000'

iter_result = pd.read_sql(sql, conn, chunksize = 3)

i = 0


frames = []

for df in iter_result :
    frames.append(df)
    
result = pd.concat(frames, ignore_index=True)
result

,OWNER,NAME,TYPE,LINE,TEXT
0,SYS,STANDARD,PACKAGE,1,package STANDARD AUTHID CURRENT_USER is ...
1,SYS,STANDARD,PACKAGE,2,\n
2,SYS,STANDARD,PACKAGE,3,"/********** Types and subtypes, do not reord..."
3,SYS,STANDARD,PACKAGE,4,"type BOOLEAN is (FALSE, TRUE);\n"
4,SYS,STANDARD,PACKAGE,5,\n
5,SYS,STANDARD,PACKAGE,6,type DATE is DATE_BASE;\n
6,SYS,STANDARD,PACKAGE,7,\n
7,SYS,STANDARD,PACKAGE,8,type NUMBER is NUMBER_BASE;\n
8,SYS,STANDARD,PACKAGE,9,subtype FLOAT is NUMBER; -- NUMBER(126)\n
9,SYS,STANDARD,PACKAGE,10,subtype REAL is FLOAT; -- FLOAT(63)\n
10,SYS,STANDARD,PACKAGE,11,"subtype ""DOUBLE PRECISION"" is FLOAT;\n"
11,SYS,STANDARD,PACKAGE,12,"subtype INTEGER is NUMBER(38,0);\n"
12,SYS,STANDARD,PACKAGE,13,subtype INT is INTEGER;\n
13,SYS,STANDARD,PACKAGE,14,"subtype SMALLINT is NUMBER(38,0);\n"
14,SYS,STANDARD,PACKAGE,15,"subtype DECIMAL is NUMBER(38,0);\n"
15,SYS,STANDARD,PACKAGE,16,subtype NUMERIC is DECIMAL;\n
16,SYS,STANDARD,PACKAGE,17,subtype DEC is DECIMAL;\n
17,SYS,STANDARD,PACKAGE,18,\n
18,SYS,STANDARD,PACKAGE,19,\n
19,SYS,STANDARD,PACKAGE,20,subtype BINARY_INTEGER is INTEGER range '-21...
20,SYS,STANDARD,PACKAGE,21,subtype NATURAL is BINARY_INTEGER range 0..2...
21,SYS,STANDARD,PACKAGE,22,subtype NATURALN is NATURAL not null;\n
22,SYS,STANDARD,PACKAGE,23,subtype POSITIVE is BINARY_INTEGER range 1.....
23,SYS,STANDARD,PACKAGE,24,subtype POSITIVEN is POSITIVE not null;\n
24,SYS,STANDARD,PACKAGE,25,subtype SIGNTYPE is BINARY_INTEGER range '-1...
25,SYS,STANDARD,PACKAGE,26,\n
26,SYS,STANDARD,PACKAGE,27,type VARCHAR2 is NEW CHAR_BASE;\n
27,SYS,STANDARD,PACKAGE,28,\n
28,SYS,STANDARD,PACKAGE,29,subtype VARCHAR is VARCHAR2;\n
29,SYS,STANDARD,PACKAGE,30,subtype STRING is VARCHAR2;\n
...,...,...,...,...,...
9969,SYS,UTL_TCP,PACKAGE,120,* newline newline character seque...
9970,SYS,UTL_TCP,PACKAGE,121,* tx_timeout a time in seconds this ...
9971,SYS,UTL_TCP,PACKAGE,122,* giving up in a read or ...
9972,SYS,UTL_TCP,PACKAGE,123,* connection. In read ope...
9973,SYS,UTL_TCP,PACKAGE,124,* up if no data is availa...
9974,SYS,UTL_TCP,PACKAGE,125,"* In write operations, th..."
9975,SYS,UTL_TCP,PACKAGE,126,* output buffer is full a...
9976,SYS,UTL_TCP,PACKAGE,127,* network without being b...
9977,SYS,UTL_TCP,PACKAGE,128,* at all. NULL indicates...
9978,SYS,UTL_TCP,PACKAGE,129,* wallet_path the directory path that...
9979,SYS,UTL_TCP,PACKAGE,130,* SSL/TLS. The format is ...
9980,SYS,UTL_TCP,PACKAGE,131,* wallet_password the password to open th...
9981,SYS,UTL_TCP,PACKAGE,132,"* auto-login enabled, the..."
9982,SYS,UTL_TCP,PACKAGE,133,* RETURN\n
9983,SYS,UTL_TCP,PACKAGE,134,* a connection to the destinated TCP/IP s...
9984,SYS,UTL_TCP,PACKAGE,135,* EXCEPTIONS\n
9985,SYS,UTL_TCP,PACKAGE,136,* network_error - network error\n
9986,SYS,UTL_TCP,PACKAGE,137,* NOTES\n
9987,SYS,UTL_TCP,PACKAGE,138,"* In the current release of this package,..."
9988,SYS,UTL_TCP,PACKAGE,139,* local_port are ignored when open_connecti...
9989,SYS,UTL_TCP,PACKAGE,140,* It does not attempt to use the specified ...
9990,SYS,UTL_TCP,PACKAGE,141,* when the connection is made. The local_h...
9991,SYS,UTL_TCP,PACKAGE,142,* will not be set in the connection record ...
9992,SYS,UTL_TCP,PACKAGE,143,* Time-out on write operations is not sup...
9993,SYS,UTL_TCP,PACKAGE,144,* of this package.\n
9994,SYS,UTL_TCP,PACKAGE,145,*/\n
9995,SYS,UTL_TCP,PACKAGE,146,FUNCTION open_connection(remote_host IN ...
9996,SYS,UTL_TCP,PACKAGE,147,remote_port IN ...
9997,SYS,UTL_TCP,PACKAGE,148,local_host IN ...
9998,SYS,UTL_TCP,PACKAGE,149,local_port IN ...

In [66]:

sql = 'SELECT * FROM ALL_SOURCE WHERE ROWNUM < 10000'

iter_result = pd.read_sql(sql, conn, chunksize = 3)

i = 0


frames = None

for df in iter_result :
    
    if frames is None :
        frames = df
    else :
        frames = frames.append(df, ignore_index=True)
    
frames

,OWNER,NAME,TYPE,LINE,TEXT
0,SYS,STANDARD,PACKAGE,1,package STANDARD AUTHID CURRENT_USER is ...
1,SYS,STANDARD,PACKAGE,2,\n
2,SYS,STANDARD,PACKAGE,3,"/********** Types and subtypes, do not reord..."
3,SYS,STANDARD,PACKAGE,4,"type BOOLEAN is (FALSE, TRUE);\n"
4,SYS,STANDARD,PACKAGE,5,\n
5,SYS,STANDARD,PACKAGE,6,type DATE is DATE_BASE;\n
6,SYS,STANDARD,PACKAGE,7,\n
7,SYS,STANDARD,PACKAGE,8,type NUMBER is NUMBER_BASE;\n
8,SYS,STANDARD,PACKAGE,9,subtype FLOAT is NUMBER; -- NUMBER(126)\n
9,SYS,STANDARD,PACKAGE,10,subtype REAL is FLOAT; -- FLOAT(63)\n
10,SYS,STANDARD,PACKAGE,11,"subtype ""DOUBLE PRECISION"" is FLOAT;\n"
11,SYS,STANDARD,PACKAGE,12,"subtype INTEGER is NUMBER(38,0);\n"
12,SYS,STANDARD,PACKAGE,13,subtype INT is INTEGER;\n
13,SYS,STANDARD,PACKAGE,14,"subtype SMALLINT is NUMBER(38,0);\n"
14,SYS,STANDARD,PACKAGE,15,"subtype DECIMAL is NUMBER(38,0);\n"
15,SYS,STANDARD,PACKAGE,16,subtype NUMERIC is DECIMAL;\n
16,SYS,STANDARD,PACKAGE,17,subtype DEC is DECIMAL;\n
17,SYS,STANDARD,PACKAGE,18,\n
18,SYS,STANDARD,PACKAGE,19,\n
19,SYS,STANDARD,PACKAGE,20,subtype BINARY_INTEGER is INTEGER range '-21...
20,SYS,STANDARD,PACKAGE,21,subtype NATURAL is BINARY_INTEGER range 0..2...
21,SYS,STANDARD,PACKAGE,22,subtype NATURALN is NATURAL not null;\n
22,SYS,STANDARD,PACKAGE,23,subtype POSITIVE is BINARY_INTEGER range 1.....
23,SYS,STANDARD,PACKAGE,24,subtype POSITIVEN is POSITIVE not null;\n
24,SYS,STANDARD,PACKAGE,25,subtype SIGNTYPE is BINARY_INTEGER range '-1...
25,SYS,STANDARD,PACKAGE,26,\n
26,SYS,STANDARD,PACKAGE,27,type VARCHAR2 is NEW CHAR_BASE;\n
27,SYS,STANDARD,PACKAGE,28,\n
28,SYS,STANDARD,PACKAGE,29,subtype VARCHAR is VARCHAR2;\n
29,SYS,STANDARD,PACKAGE,30,subtype STRING is VARCHAR2;\n
...,...,...,...,...,...
9969,SYS,UTL_TCP,PACKAGE,120,* newline newline character seque...
9970,SYS,UTL_TCP,PACKAGE,121,* tx_timeout a time in seconds this ...
9971,SYS,UTL_TCP,PACKAGE,122,* giving up in a read or ...
9972,SYS,UTL_TCP,PACKAGE,123,* connection. In read ope...
9973,SYS,UTL_TCP,PACKAGE,124,* up if no data is availa...
9974,SYS,UTL_TCP,PACKAGE,125,"* In write operations, th..."
9975,SYS,UTL_TCP,PACKAGE,126,* output buffer is full a...
9976,SYS,UTL_TCP,PACKAGE,127,* network without being b...
9977,SYS,UTL_TCP,PACKAGE,128,* at all. NULL indicates...
9978,SYS,UTL_TCP,PACKAGE,129,* wallet_path the directory path that...
9979,SYS,UTL_TCP,PACKAGE,130,* SSL/TLS. The format is ...
9980,SYS,UTL_TCP,PACKAGE,131,* wallet_password the password to open th...
9981,SYS,UTL_TCP,PACKAGE,132,"* auto-login enabled, the..."
9982,SYS,UTL_TCP,PACKAGE,133,* RETURN\n
9983,SYS,UTL_TCP,PACKAGE,134,* a connection to the destinated TCP/IP s...
9984,SYS,UTL_TCP,PACKAGE,135,* EXCEPTIONS\n
9985,SYS,UTL_TCP,PACKAGE,136,* network_error - network error\n
9986,SYS,UTL_TCP,PACKAGE,137,* NOTES\n
9987,SYS,UTL_TCP,PACKAGE,138,"* In the current release of this package,..."
9988,SYS,UTL_TCP,PACKAGE,139,* local_port are ignored when open_connecti...
9989,SYS,UTL_TCP,PACKAGE,140,* It does not attempt to use the specified ...
9990,SYS,UTL_TCP,PACKAGE,141,* when the connection is made. The local_h...
9991,SYS,UTL_TCP,PACKAGE,142,* will not be set in the connection record ...
9992,SYS,UTL_TCP,PACKAGE,143,* Time-out on write operations is not sup...
9993,SYS,UTL_TCP,PACKAGE,144,* of this package.\n
9994,SYS,UTL_TCP,PACKAGE,145,*/\n
9995,SYS,UTL_TCP,PACKAGE,146,FUNCTION open_connection(remote_host IN ...
9996,SYS,UTL_TCP,PACKAGE,147,remote_port IN ...
9997,SYS,UTL_TCP,PACKAGE,148,local_host IN ...
9998,SYS,UTL_TCP,PACKAGE,149,local_port IN ...

In [ ]:

conn.close()